.grid {
  display: grid;
  grid-template-rows: auto 1fr 40px;
  grid-template-columns: 1fr 48rem 1fr;
  grid-template-areas:
    ". header ."
    ". main ."
    ". footer .";
  height: 100vh;
  margin: 0 auto;
  padding: 0 1rem;
}

.container {
  grid-area: main;
}

.header {
  grid-area: header;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 6px;
}

.main {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
  width: 87.5%;
  padding-left: 12.5%;
  font-size: 15px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: content-box;
  margin-bottom: 2rem;
  position: relative;
}

.main span.newthought {
  font-variant: small-caps;
  font-size: 1em;
}

.main h1 {
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  font-size: 2.6rem;
  line-height: 1;
}

.main h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 1.8rem;
  line-height: 1;
}

.main h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.4rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

.main p,
.main dl,
.main ol,
.main ul {
  font-size: 18px;
  line-height: 1.5rem;
}

.main section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.main hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid var(--color-border);
  margin: 0.8em 0;
  padding: 0;
}

.main p {
  margin-top: 1.2rem;
  margin-bottom: 1.2rem;
  padding-right: 0;
  vertical-align: baseline;
  max-width: 55%;
}

.main > p,
.main > footer,
.main > table {
  width: 55%;
}

.main li {
  max-width: 55%;
}

.main > dl,
.main > ol,
.main > ul {
  width: 50%;
  -webkit-padding-start: 5%;
  max-width: 55%;
}

.main dt:not(:first-child),
.main li:not(:first-child) {
  margin-top: 0.25rem;
}

/* Sidenotes, margin notes, figures, captions */
.main img {
  max-width: 100%;
}

.main blockquote p {
  width: 55%;
  margin-right: 40px;
}

.main blockquote footer {
  width: 55%;
  font-size: 0.8rem;
  text-align: right;
}

@media (max-width: 760px) {
  .header {
    text-align: center;
  }
  .grid {
    grid-template-rows: auto 1fr 40px;
    grid-template-columns: 0 100% 0;
    grid-template-areas:
      ". header ."
      ". main ."
      ". footer .";
    padding: 0;
  }
  .main {
    width: 100%;
    padding: 0 12px;
  }

  .container {
    padding: 0 12px;
  }

  .container h3 {
    text-align: center;
  }

  .main p {
    max-width: none;
  }

  .main li {
    max-width: none;
  }

  .main hr,
  .main p,
  .main footer,
  .main table {
    width: 100%;
  }

  .main > pre > code {
    width: 97%;
  }

  .main > dl,
  .main > ol,
  .main > ul {
    width: 90%;
  }

  .main figure {
    max-width: 90%;
  }

  .main figcaption,
  .main figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  .main blockquote {
    margin-left: 1.5em;
    margin-right: 0em;
  }

  .main blockquote p,
  .main blockquote footer {
    width: 100%;
  }

  .main div.table-wrapper,
  .main table {
    width: 85%;
  }

  .main img {
    width: 100%;
  }
}
