.introduction {
  height: 60vh;
  max-width: 400px;
  margin: 20vh auto;
  font-size: 18px;
}

.introduction > p {
  margin: 1rem auto;
  font-family: sans-serif;
}

.introduction a {
  font-weight: 700;
}

.image {
  margin-bottom: 1rem;
  text-align: center;
}

.text {
  max-width: 300px;
  margin-top: 2rem;
}

.media {
  margin-top: 2rem;
  text-align: center;
}
.media > a {
  margin: 0.4rem 0.8rem;
  font-size: 1.5rem;
}

@media (max-width: 760px) {
  .introduction {
    grid-template-columns: 1fr;
  }
  .text {
    margin: 1rem;
  }
}
